<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>短视频日志分析系统</title>

    <link type="text/css" href="css/login.css" rel="stylesheet" />
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>

</head>

<body>
<form action="loginUser" method="post">
<div class="login">

    <h1>会员登录</h1>

    <input type="text" id="loginname" name="loginname" placeholder="用户名" required="required" />
    <input type="password" id ="password" name="password" placeholder="密码" required="required" />
    <button type="submit" value="Register">登录</button>

</div>
</form>

</body>
</html>
